<!DOCTYPE html>
<html lang="en" ng-app>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
		<title>Angular-TypeScript</title>
	</head>
	<body>
		<h1><center>Hola Mundo con Angular y TypeScript</center></h1>
		<section id="contenedor">
			
		</section>
		<div ng-app>
			<label>Nombre:</label>
			<input type="text" placeholder="Escribe tu nombre" ng-model="nombre">
			<input type="text" placeholder="Color" ng-model="color">
			<hr>
			<h3 class="text-{{color}}">Hola!! {{nombre}}</h3>
		</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script type="text/javascript" src="prueba.js"></script>
	</body>
</html>